/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_bootstrap
 *= require_tree .
 *= require_self
 */

#loading_holder {
	margin:auto;
	margin-top:20px;
	text-align:center;
}

#results_holder {
	margin-top:12px;
}

.item_actions {
	padding-top:12px;
	float:left;
}

.item_holder {
	margin-top:16px;
	padding-bottom:6px;
	margin-bottom:12px;
	font-size:14px;
	border: 1px solid #eef;
}

.item_name {
	font-size:24px;
}

.item_language {
	font-size:20px;
	text-align:right;
}

.item_clone_holder {
	font-size:15px;
	float:right;
	
}

.item_clone_title {
	float:left;
	margin-right:8px;
}

.item_clone_url {
	width:160px;
	overflow-x:scroll;
	font-size:13px;
	color:gray;
	float:left;
}

.item_description {
	padding-top:8px;
	border-top:1px solid #7FDBFF;
	min-height:40px;
	margin-bottom:16px;
}

.more_results_button {
	margin-bottom:12px;
}

.query-input {
	width:80%;
	font-size:20px;
	float:left;
	margin-top:4px;
}

.query-button {
	font-size:20px;
	float:left;
	margin-left:4px;
}


